table {
    border-collapse: collapse;
    margin: 1em 0;
}

th {
    border: 1px solid #ccc;
    padding: .2em 2em .2em .4em;
    background-color: #eee;
    cursor: pointer;
    position: relative;
    text-align: left;
}
.sort-ascending .sort-arrow, .sort-descending .sort-arrow {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M9 16.172l-6.071-6.071-1.414 1.414 8.485 8.485 8.485-8.485-1.414-1.414-6.071 6.071v-16.172h-2z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: .7em;
    height: .7em;
    width: .7em;
    display: block;
    position: absolute;
    right: .4em;
    top: .4em;
    float: right;
}
.sort-descending .sort-arrow {
    transform: rotate(180deg);
}

th:hover {
    background-color: rgb(149, 250, 250);
}

td {
    border: 1px solid #ccc;
    padding: .2em .4em;
}
.filters {
    display: flex;
    gap: 1em;
}
action-table-filters {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

td span {
    background-color: #eee;
    padding: 0 .4em;
    border-radius: .2em;
    margin: 0 .2em;
}

/* -------------------------------------------------------------------------- */
/*                                   Switch                                   */
/* -------------------------------------------------------------------------- */


action-table .switch label {
    display: inline-flex;
    align-items: center;
    margin: 0;
}
action-table .switch input {
    appearance: none;
    position: relative;
    display: inline-block;
    background: var(--action-table-switch-unchecked, lightgray);
    cursor: pointer;
    height: 1.4em;
    width: 2.75em;
    vertical-align: middle;
    border-radius: 2em;
    box-shadow: 0px 1px 3px #0003 inset;
    transition: 0.25s linear background;
  }
  action-table .switch input::before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 1em;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
  }
  action-table .switch :checked {
    background: var(--action-table-switch-checked, green);
  }
  action-table .switch :checked::before {
    transform: translateX(1rem);
  }
  action-table .switch input:focus {
    outline: transparent;
  }
  action-table .switch input:focus-visible {
    outline: 2px solid var(--action-table-switch-focus, dodgerblue);
    outline-offset: 2px;
  }

  action-table-filter-switch label {
    display: inline-flex;
    align-items: center;
    gap: .2em;
  }

  action-table .star input {
    appearance: none;
    background: var(--action-table-star-unchecked, gray);
    cursor: pointer;
    height: 1.6em;
    width: 1.6em;
    vertical-align: middle;
    transition: 0.25s linear background;
    clip-path: polygon(50% 0%, 62% 29%, 98% 35%, 74% 58%, 79% 91%, 50% 76%, 21% 91%, 26% 58%, 2% 35%, 34% 29%);  
  }

  action-table .star input:checked {
    background: var(--action-table-star-checked, orange);
  }