/* -------------------------------------------------------------------------- */
/*                              Action Table CSS                              */
/* -------------------------------------------------------------------------- */

action-table {
    display: block;
}
action-table table  {
    border-collapse: collapse;
    margin: 1em 0;
    max-width: 100%;
    overflow: auto;
}

action-table th {
    border: 1px solid var(--action-table-border,lightgray);
    padding: 0;
    text-align: left;
    background-color: var(--action-table-th, whitesmoke);
}

action-table th[no-sort] {
    padding: .2em .5em .2em .5em;
}

action-table th button {
    cursor: pointer;
    font-weight: bold;
    border: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: .2em 1.5em .2em .5em;
    background-color: var(--action-table-th, whitesmoke);
    position: relative;
    text-align: left;
    font-size: inherit;
    line-height: inherit;
}

action-table th button:hover {
    background-color: var(--action-table-th-hover, paleturquoise);
}

action-table th button::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M9 16.172l-6.071-6.071-1.414 1.414 8.485 8.485 8.485-8.485-1.414-1.414-6.071 6.071v-16.172h-2z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: .7em;
    height: .7em;
    width: .7em;
    display: block;
    opacity: .2;
    position: absolute;
    right: .4em;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

action-table th[aria-sort$="ing"] button{
    background-color: var(--action-table-th-on, rgb(244, 220, 188));
}

action-table th[aria-sort$="ing"] button::after {
    opacity: 1;
}

action-table th[aria-sort="descending"] button::after {
    opacity: 1;
    transform: translateY(-50%) rotate(180deg);
}

action-table td {
    border: 1px solid var(--action-table-border,lightgray);
    padding: .2em .4em;
}

action-table td.sorted {
    background-color: var(--action-table-td-sorted,rgb(255, 253, 240));
}

/* Use spans for multiple values in cell */
action-table td span {
    background-color: var(--action-table-td-span,#eee);
    border: 1px solid var(--action-table-td-span-border,white);
    padding: 0 .4em .1em .4em;
    border-radius: .4em;
    margin: 0 .2em;
}

/* Hide custom elements by default as they only work with js loaded */
action-table:not(:defined),
action-table-filters:not(:defined) {
    visibility: hidden;
}

action-table select {
    border-radius: .3em;
}
action-table .selected {
    background-color: var(--action-table-filter-highlight, paleturquoise);
}

action-table .no-results td {
    padding: 1em;
    text-align: center;
}
action-table button {
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                            Action Table Filters                            */
/* -------------------------------------------------------------------------- */

action-table-filters {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

/* -------------------------------------------------------------------------- */
/*                        Action Table Filter Elements                        */
/* -------------------------------------------------------------------------- */

action-table-filter-switch label {
    display: inline-flex;
    align-items: center;
    gap: .2em;
}

action-table-filter-menu label{
    margin-inline-end: .3em;
}

/* -------------------------------------------------------------------------- */
/*                                Switch Toggle                               */
/* -------------------------------------------------------------------------- */

action-table .switch label {
    display: inline-flex;
    align-items: center;
    margin: 0;
}
action-table .switch input {
    appearance: none;
    position: relative;
    display: inline-block;
    background: var(--action-table-switch-unchecked, lightgray);
    cursor: pointer;
    height: 1.4em;
    width: 2.75em;
    vertical-align: middle;
    border-radius: 2em;
    box-shadow: 0px 1px 3px #0003 inset;
    transition: 0.25s linear background;
  }
  action-table .switch input::before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 1em;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
  }
  action-table .switch :checked {
    background: var(--action-table-switch-checked, green);
  }
  action-table .switch :checked::before {
    transform: translateX(1rem);
  }
  action-table .switch input:focus,
  action-table .star input:focus {
    outline: transparent;
  }
  action-table .switch input:focus-visible,
  action-table .star input:focus-visible {
    outline: 2px solid var(--action-table-switch-focus, dodgerblue);
    outline-offset: 2px;
  }

/* -------------------------------------------------------------------------- */
/*                             Star Switch Toggle                             */
/* -------------------------------------------------------------------------- */

  action-table .star input {
    appearance: none;
    position: relative;
    cursor: pointer;
    height: 1.6em;
    width: 1.6em;
    vertical-align: middle;
    border-radius: .3em;
  }
  action-table .star input::before {
    content: "";
    background: var(--action-table-star-unchecked, gray);
    cursor: pointer;
    position: absolute;
    height: 1.6em;
    width: 1.6em;
    vertical-align: middle;
    transition: 0.25s linear background;
    clip-path: polygon(50% 0%, 62% 29%, 98% 35%, 74% 58%, 79% 91%, 50% 76%, 21% 91%, 26% 58%, 2% 35%, 34% 29%);  
  }

  action-table .star input:checked::before {
    background: var(--action-table-star-checked, orange);
  }